body{
    background-image: url('comicBG.jpg');
}

h1 {
    display: block;
    width: 56%;
    margin:auto;
    font-family: 'Honk', system-ui;
    font-size: 90px;
}
h3 {
    display: block;
    width: 70%;
    margin:auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
    color:rgb(237, 237, 237);
    background-color: rgb(0, 18, 22);
}
.calculator{
    display: block;
    width: 44%;
    margin: auto;
    background-color: black;
    
}



#button, #thisInput{
    height: 60px; 
    width : 60px;
    margin: 5px;
    font-family: 'Honk', system-ui;
    font-size: 45px;
}


#button2{
    height: 60px ;
    width: 135px ;
    margin: 5px;
    font-family: 'Honk', system-ui;
    font-size: 45px;
}
